@media (max-width: 767.98px) { 
    .home-section{
        padding-bottom: 0;
    }
    .home-intro h6{
        font-size: 15px;
    }
    .home-intro h1{
        font-size: 40px;
    }
    .section-p{
        padding: 60px 0;
    }
    #about .border-top{
        border: none !important;
    }
    /* home section end */
    /* about part start */
    .about-row{
        margin-bottom: 50px;
    }
    .section-heading h3{
        font-size: 30px;
    }
    /* about part end */
    
 }
 @media (max-width: 991.98px) { 
    .main-header .navbar-nav{
        padding-top: 15px;
    }
    .main-header{
        background: rgba(255, 255, 255, 0.8);
    }
    .main-header .navbar-nav .nav-link{
        display: inline-block;
    }
    .main-header .navbar-nav .nav-item{
        margin: 8px 0;
    }
    .about-row{
        margin-bottom: 40px;
    }
    .home-intro h1{
        font-size: 50px;
    }
    .section-p{
        padding: 80px 0;
    }
  }

  @media (max-width: 375.98px) { 
    .footer-text p {
        font-size: 14px;
    }
   }